{%extends 'base.html'%}{%load static%}{%block content%}
 <!------Certifications------------->
 <div id="certificates">
    <h2>Certifications</h2>
</div>
<div class="container">
    <div class="row">
    
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="coursera-icon">
                        <img src="file:///C:/Users/aryak/Downloads/Coursera_logo_(2020).svg" alt="Coursera Logo"> <!-- Coursera Image -->
                    </div>
                    <h5 class="card-title">Coursera</h5>
                    <p class="card-text">Meta Back-end Developer Professional Certificate</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="coursera-icon">
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <h5 class="card-title">LinkedIn</h5>
                    <p class="card-text">What is Generative AI?</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="coursera-icon">
                        <img src="file:///C:/Users/aryak/Downloads/Coursera_logo_(2020).svg" alt="Coursera Logo"> <!-- Coursera Image -->
                    </div>
                    <h5 class="card-title">Coursera</h5>
                    <p class="card-text">AWS Fundamentals Certificate</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}