{%extends 'base.html'%}{%load static%}{%block content%}
 <!-------------Educations--------------->  
 <section id="education" class="education-section py-5">
        <h2 class="timeline">Education</h2>
        <div class="timeline-item">
        <div class="dot"></div>
            <h6>2021</h6>
            <h5>Bachelor of Technology in Computer Science-VISAT Engineering College</h5>
            <ul>
                <li>APJ Abdul Kalam Technological University</li>
                <li>CGPA : 7.88</li>
            </ul>
        </div>
        <div class="timeline-item">
            <h6>2017</h6>
            <h5>Higher Secondary Education-Govt.Higher Secondary School</h5>
            <ul>
                <li>State Board</li>
                <li>Mark Percentage: 83.92%</li>
            </ul>
        </div>
        <div class="timeline-item">
            <h6>2015</h6>
            <h5>Secondary Education-Elamkavu Vidya Mandir</h5>
            <ul>
                <li>CBSE</li>
                <li>CGPA:9.0</li>
            </ul>
        </div>
    </div>   
 </section>
 
{%endblock%}