{%extends 'base.html'%}{%load static%}{%block content%}
 <!------------Skills--------------->
 <div id="skills">
    <h2>Skills</h2>
</div>
<div class="skills-container">
    <div class="circle" style="--value: 90;">
        <div class="inner-circle">Python</div>
    </div>
    <div class="circle" style="--value: 60;">
        <div class="inner-circle">Django</div>
    </div>
    <div class="circle" style="--value: 50;">
        <div class="inner-circle">CSS</div>
    </div>
    <div class="circle" style="--value: 95;">
        <div class="inner-circle">HTML</div>
    </div>
    <div class="circle" style="--value: 90">
        <div class="inner-circle">SQL</div>
    </div>
    <div class="circle" style="--value:20">
        <div class="inner-circle">Cloud Computing</div>
    </div>
</div>
<div id="projects">
    <h2>Projects</h2>
</div>
<div class="projects-container">
    <div class="project-card">
        <h3>Resturant Reservation System</h3>
        <p>A Django-based web app where users can register,login, and book resturant tables with real-time availability checks and alert mechanisms for reserved tables.</p>
        <p><strong>Tech:</strong>Django,HTML,CSS,SQLite</p>
    </div>
    <div class="project-card">
        <h3>Portfolio Website</h3>
        <p>A personal portfolio showcasing skills and projects using responsive design and modern web styling techniques.</p>
        <p><strong>Tech:</strong>HTML,CSS,JS</p>
    </div>
    <div class="project-card">
        <h3>Language Learning Flashcards</h3>
        <p>A web-based flashcard tool help users memorize vocabulary and phrases in different langugaes.User can flip cards for translations,track progress and shuffle cards to challenge recall.</p>
        <p><strong>Tech:</strong>HTML,CSS,Javascript,Django</p>
    </div>
</div>
{%endblock%}
